node_modules
.tmp
*.log
npm-debug.log.*
*~
*#
.DS_STORE
assets/**/bundles
assets/index.html
misc
platforms/
plugins/
*.htmlbkp
*.cssbkp
*.jsbkp
www/bundles/js/common.bundle.js
www/bundles/js/main.bundle.js
www/bundles/styles/main.css
