<?xml version='1.0' encoding='utf-8'?>
<widget id="io.theeye.mobile.development" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>The eye</name>
    <description>
        The eye, now mobile.
    </description>
    <author email="tomas@interactar.com" href="https://interactar.com/">
        Interactar
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-googleplus" spec="git+https://github.com/EddyVerbruggen/cordova-plugin-googleplus.git">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.57402909306-u20qa8qh1ddhp0ikodta0nmlduvih1rp" />
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
