<div class="loginBox">
  <div data-hook="login-form-container">
    <h1>Sign In to theeye.io</h1>
    <a href="" class="sign google" data-hook="google-login-mobile"><i class="fa fa-google-plus"></i>Google+</a>
    <div class="or"><span>or</span></div>
    <div data-hook="login-form" class="login-form"></div>
    <button data-hook="start-login">Sign in</button>
    <div><span>Don't have an account? <a href="" class="register-link" data-hook="register-modal">Register here</a></span></div>
  </div>
</div>
