<div class="loginBox">
  <div data-hook="enterprise-form-container">
    <h1>Enterprise Config</h1>
    <div data-hook="enterprise-form" class="login-form"></div>
    <button data-hook="start-enterprise">Set organization</button>
  </div>
  <div data-hook="login-form-container">
    <h1 style="font-size:26px;">Enterprise Sign In</h1>
    <a href="" class="sign google" data-hook="google-login-mobile"><i class="fa fa-google-plus"></i>Google+</a>
    <div class="or"><span>or</span></div>
    <div data-hook="login-form" class="login-form"></div>
    <button data-hook="start-login">Sign in</button>
  </div>
  <div class="register-link"><a href="/login">Back</a></div>
</div>
